* {
  padding: 0;
  margin: 0;
}

html{ 
  height:100%; 
}

body {
  margin: 0;
  padding: 60px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color:black;
  size: 4em;
}

button {
  color:white;
  background-color:rgb(220, 53, 69);
  border: none;
  border-radius: 4px;
  padding: 1em;
}

h1{
  padding-bottom: 1em;
}

.container-flex {
  min-height:100%;
}

.anchor:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}

.poster {
 max-width: 50%;
 min-width: 230px;
 border-radius: 4px;
 border:none;
}

.movierow img{
  border-radius: 6px;
  border:none;
  height: 60%;
}

.footer{
  background-color: black;
  text-align: center;
  color:white;
  height: 14em;
}

.footer img {
  width: 100px;
  margin: 2em auto;
}